name: ci

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.15.0'
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y make
          echo "127.0.0.1 kafka" | sudo tee -a /etc/hosts
      - run: |
          if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi
      - run: |
          make test
          make test-unit-coverage
      - uses: actions/upload-artifact@master
        with:
          name: coverage
          path: ./coverage.out
  coverage:
    needs: [ testing ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.15.0'
      - uses: actions/download-artifact@master
        with:
          name: coverage
      - run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build
          mv coverage.out c.out
          ./cc-test-reporter after-build -t gocov -p $(go list -m)
        env:
          CC_TEST_REPORTER_ID: cc74476efc023d0fefde2e75a4ca103f20a9d5e9b3e04a46c8aca3a5d356c6fd
